* {
    margin: 0;
    box-sizing: border-box;
}
body{   
    background: url(https://avatars.mds.yandex.net/i?id=425efddd95d234c92bb4ba8416d1b025d48223f6-10783551-images-thumbs&n=13);
    #backgroundimg{
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}

.container {
    text-align: center;
    

}
.todos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;

}
.todo {
    display: flex;
    flex-direction: row;
    background-color: #FFFDD0;
    color: aqua;
  
    & p{
        border:1px black solid;
        margin: 3px;
    }

    & p:nth-child(2){
        width:15rem;
    }
    & p:nth-child(3){
        width: 2rem;
    }
} 
.removing{
        color: aqua;
 }
h1{
    color: rgb(255, 139, 7);
}
label{
    color:  rgb(255, 139, 7);
    color: #FFFDD0;
    color: turquoise;
    color: beige;
    color: greenyellow;
}
    
