* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    

}
.todos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;

}
.todo {
    display: flex;
    flex-direction: row;
    & p{
        border:1px black solid;
        margin: 3px;
    }

    & p:nth-child(2){
        width:15rem;
    }
    & p:nth-child(3){
        width: 2rem;
    }
    
}
